Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.6
Markdown==2.3.1
SQLAlchemy==0.8.3
Werkzeug==0.8.3
bleach==1.2.2
distribute==0.6.34
gunicorn==18.0
html5lib==0.95
itsdangerous==0.23
psycopg2==2.4.6
pycparser==2.10
wsgiref==0.1.2
