{% extends "base.html" %}

{% block content %}

<h1>Info</h1>

<p>You get a new entry every day at 4 AM local time.</p>
<p>You are shown your old entries in the following intervals: 1 day, 7 days, 30 days, 90 days, and 365 days.</p>
<p>You can use <a href="/markdown">Markdown</a> to format your entries.</p>

<h1>Links</h1>

<p><a href="https://github.com/neynt/tsundiary/issues">Issue tracker</a></p>

<h1>Changelog</h1>

<ul>
  <li>2015-10-10: Fixed syncing. Changed revealing scheme to good old end-of-day.</li>
  <li>2015-09-03: Save to server every 5 seconds even if user hasn't stopped typing. Another attempt to fix "syncing" bug, where recently entered text could be reversed by an old sync.</li>
  <li>2015-08-02: Going over 10,000 character limit now results in a warning. Attempt to fix bug where writing was reversed with lag.</li>
  <li>2015-07-27: Changed revealing scheme to every Sunday, rather than on the 1st of each month.</li>
  <li>2015-05-09: Added changelog.</li>
</ul>

{% endblock %}
