{% extends "base.html" %}

{% block content %}

<h1>tsundiary is place to write.</h1>

<p>You automatically get a new entry every day at 4 AM.</p>
<p>You are also shown your old entries at certain intervals.</p>

<h1>good things have been said about tsundiary.</h1>

<p>a person said: "Tsundiary brought out the inner weeb inside me! Domo arigato! Tsundiary no koto ga suki!"</p>
<p>a person also said: "I met a really amazing cute friend by reading their Tsundiary! Without Tsundiary, I might have never been able to meet this awesome person, or understand them as well!"</p>
<p>a person, possibly not the same person as the other two, said: "It's a most trustworthy website."</p>

<p>(for the record, we hash each password with an individual randomly-generated salt, so on that front we're A-OK. someone could walk right out the Amazon data centre on which this is hosted with all their hard drives and your passwords would still be safe.</p>
<p>Now we just need https so that your session can't be hijacked, hahaha. That's on the TODO list.)

<h1>tsundiary was made by a human just like you.</h1>

<p>If you wanna talk about the site, report a bug, request a feature, or anything, this human can be contacted at <span id='muh_mail'></span>.</p>
<p>You can also check out this human's <a href='http://neynt.ca/'>personal site</a>.</p>

<!--
<hr />

<h1>the philosophy behind tsundiary.</h1>

<h2>tsundiary will never let you know who's looking at your tsundiary.</h2>
<p>Whether directly or indirectly, it's impossible to tell how popular your journal is. We will never have "likes", comments, "follower" counts, view counts, or anything else that might let you know how many people are looking at your tsundiary.</p>
<p>
-->

<script type="text/javascript">
$('#muh_mail').html("wvz.munat@hjngreybb.pn".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>

{% endblock %}
