{% extends "base.html" %}

{% block content %}

<h1>tsundiary is place to record your life.</h1>

<p>You get a new entry every day at 4 AM.</p>
<p>You are shown your old entries in the following intervals: 1 day, 7 days, 30 days, 90 days, and 365 days.</p>
<p>You can also use <a href="/markdown">Markdown</a> to format your entries.</p>

<h1>Good things have been said about tsundiary.</h1>

<blockquote>tsundiary brought out the inner weeb inside me! Domo arigato! tsundiary no koto ga suki!"</blockquote>
<blockquote>I met a really amazing cute friend by reading their tsundiary! Without tsundiary, I might have never been able to meet this awesome person, or understand them as well!</blockquote>
<blockquote>It's a most trustworthy website.</blockquote>

<h1><a href="https://github.com/neynt/tsundiary/issues">Bug reports and feature requests</a></h1>

<p>(I'm open source!)</p>

{% endblock %}
