{% extends "base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}

{% if author.publicity > 0 or g.user.sid == author.sid %}

<h1>{% block heading %}<a href="/~{{ author.sid }}">{{ author.name }}</a>{% endblock %}</h1>

{% block usernav %}
<div style='float:right; text-align: right'>

{# Dates nav #}
{% for year, avail_months in dates %}
{{ year }}:
{% for month in range(1, 13) %}
{% set target = '/~%s/%d/%d' % (author.sid, year, month) %}
{% if month in avail_months %}
{% if request.path == target %}
<a class='selected_date' href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% else %}
<a href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% endif %}
{% endif %}
{% endfor %}
<br />
{% endfor %}

{% for link, target in [
] %}
{% if request.path == target %}
<a class='selected_date' href='{{ target }}'>{{ link }}</a>
{% else %}
<a href='{{ target }}'>{{ link }}</a>
{% endif %}
{% endfor %}

</div>
{% endblock %}

{% block stats %}
<span class='stat'>
  <i class="fa fa-star" title='Number of entries'></i> {{ author.num_entries }} day{% if author.num_entries != 1 %}s{% endif %} of entries
</span><br />
<!--<span class='stat'>
  <i class="fa fa-star" title='Combo'></i> {{ author.combo }} day combo
</span>-->
{% endblock %}

{% block header %}
<h1 style='clear:both'>{{ title }}</h1>
{% endblock %}

{% if posts %}
<div id='posts'>
{% for p in posts %}
{{ render_entry(p) | safe }}
{% endfor %}
</div>

{# Autoload on scroll -- on main user page only #}
{% if request.path == '/~%s' % author.sid %}
<script>

</script>
{% endif %}

{% else %}
{% block no_entries %}
<p>This user hasn't written anything yet!</p>
{% endblock %}
{% endif %}

{% else %} {# publicity is zero #}
<p>This user's tsundiary is private.</p>
{% endif %}

{% endblock %}
