{% extends "base.html" %}

{% block content %}

<div style="text-align: center; margin: 0 auto;">
    <p id='login_status'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    &nbsp;
    </p>
    <div id='login_box' class='input_box cloud'>
      <form action='/attempt_login' method='POST'>
        <input id='username' class='first' name='username' type='text' placeholder="Username" /><br />
        <input id='password' class='last' name='password' type='password' placeholder="Password" /><br />
        <hr />
        <input id='submitbutton' class='submitbutton first last' type='submit' value='Sign in' />
      </form>
    </div>
    <p><a href="{{ url_for('register')}}">Register</a></p>
    <p><a href="{{ url_for('who_am_i') }}">What is this?</a></p>
    <div style='height: 20px'></div>
</div>

{% endblock %}
