{% extends "base.html" %}

{% block content %}

<div style="text-align: center; margin: 0 auto;">
    <p id='login_status'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    &nbsp;
    </p>
    <div id='login_box' class='input_box cloud'>
      <form action='/register' method='post'>
        <input name='username' class='first' type='text' placeholder="Username" value="{{cur_username}}" /><br />
        <input name='password' type='password' placeholder="Password" value="{{cur_password}}" /><br />
        <input name='email' class='last' type='email' placeholder="Email (optional)" value="{{cur_email}}" /><br />
        <input name='invite_key' type='hidden' value='nope' />
        <hr />
        <input id='submitbutton' class='submitbutton first last' type='submit' value='Register' />
      </form>
    </div>
</div>

{% endblock %}
