{% extends "base.html" %}

{% block content %}

{% if posts_by_date %}
{% for date, posts in posts_by_date %}
<h1>{{ date | prettydate }}</h1>
{% for author, latest_post, hidden_day, cutoff_day in posts %}
<h2>
  <a href="/~{{ author.sid }}">{{ author.name }}</a>
  (<a href='/stalkdel/{{ author.sid }}' data-no-instant>unstalk</a>)
</h2>
{{ render_entry(latest_post, hidden_day, cutoff_day) | safe }}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

<div style="height: 50px;"><!-- I'm a good web developer --></div>

<div class='input_box cloud'>
<form action='/stalkadd' method='post'>
  <input class='first last' type="text" name='victim' placeholder='user to stalk' />
  <hr />
  <input class='submitbutton first last' type='submit' value='stalk' />
</form>
</div>

{% endblock %}
