{% extends "base.html" %}

{% block content %}

<style>
.stalked_user .stalked_user_controls {
  float: right;
  opacity: 0.0;
  transition: opacity 0.1s;
}
.stalked_user:hover .stalked_user_controls {
  opacity: 1.0;
}
</style>

{% if posts_by_date %}
{% for date, entries in posts_by_date %}
<h1>{{ date | nicedate }}</h1>
{% for author, entry, hidden_day, cutoff_day in entries %}
<div class="stalked_user">
<h2>
  <a href="/~{{ author.sid }}">{{ author.name }}</a>
  <span class="stalked_user_controls">
    [<a href='/stalkdel/{{ author.sid }}' data-no-instant>unstalk</a>]
  </span>
</h2>

{# TODO: Refactor this elsewhere. #}
<div class='post' data-date='{{ entry.posted_date }}'>
{% if entry.posted_date > hidden_day or entry.posted_date < cutoff_day %}
<div class='post_date hidden'>
  <span title="{{ entry.posted_date | prettydate }}">{{ entry.posted_date | nicedate }} - hidden</span>
</div>
{% else %}
<div class='post_body'>
  {{ entry.content | my_markdown | safe }}
</div>
{% endif %}
</div>

</div>
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

<div style="height: 50px;"><!-- I'm a good web developer --></div>

<div class='input_box cloud'>
<form action='/stalkadd' method='post'>
  <input class='first last' type="text" name='victim' placeholder='user to stalk' />
  <hr />
  <input class='submitbutton first last' type='submit' value='stalk' />
</form>
</div>

{% endblock %}
