{% extends "base.html" %}

{% block content %}

{% if author.publicity > 0 or g.user.sid == author.sid %}

<h1>{{ author.name }}</h1>

<div style='float:right; text-align: right; width: 60%'>

{# Other nav #}
{% for link, target in [
('Recent entries', '/~%s' % author.sid),
] %}
{% if request.path == target %}
<a class='selected_date' href='{{ target }}'>{{ link }}</a>
{% else %}
<a href='{{ target }}'>{{ link }}</a>
{% endif %}
{% endfor %}
<br />

{# Dates nav #}
{% for year, avail_months in dates.items() %}
{{ year }}: 
{% for month in range(1, 13) %}
{% set target = '/~%s/%d/%d' % (author.sid, year, month) %}
{% if month in avail_months %}
{% if request.path == target %}
<a class='selected_date' href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% else %}
<a href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% endif %}
{% endif %}
{% endfor %}
<br />
{% endfor %}

</div>

{# Stats #}
<span class='stat'>
  <i class="fa fa-edit" title='Number of entries'></i> {{ author.num_entries }} day{% if author.num_entries != 1 %}s{% endif %} of entries
</span><br />
<span class='stat'>
  <i class="fa fa-star" title='Combo'></i> {{ author.combo }} day combo
</span>

{% if posts %}
{# Header #}
{% block header %}
<h1 style='clear:both'>{{ title }}</h1>
{% endblock %}

{# Posts #}
<div id='posts'>
{% block posts %}
{% for p in posts %}
{{ render_entry(p, hidden_day) | safe }}
{% endfor %}
{% endblock %}
</div>

{# Autoload on scroll -- on main user page only #}
{% if request.path == '/~%s' % author.sid %}
<script>
var processScroll = true;
var last_date = '{{ posts[-1].posted_date }}';
function proc_scroll () {
  {# Always have 1000 pixels available #}
    if (processScroll && $(window).scrollTop() > $(document).height() - $(window).height() - 1000) {
        processScroll = false;
        $.get('/+{{ author.sid }}/' + last_date,
          function (data) {
            new_post = $(data)
            last_date = new_post.data('date');
            if (last_date) {
              $('#posts').append(new_post);
              processScroll = true;
              proc_scroll(); // If this wasn't enough, load even more!
            }
          }
        );
    }
}
$(window).scroll(proc_scroll);
proc_scroll();
</script>
{% endif %}

{% else %}
<p>This user's tsundiary is empty!</p>
{% endif %}

{% else %} {# publicity is zero #}
<p>This user's tsundiary is private.</p>
{% endif %}

{% endblock %}
