{% extends "base.html" %}

{% block content %}

<div style='text-align: center; margin: 10% 0;'>

<h1>tsundiary is a place to record your life.</h1>

<p>Every day, you get a blank entry that looks like this. You can write whatever you want in it.</p>

<div class="post">
  <div class="post_body">
    <p><textarea id="edit_area" placeholder="How was your day? N-not that I care or anything..."></textarea></p>
  </div>
</div>

<p>Every night, at 4 a.m., the previous day's entry is set in stone and you get a new one.</p>
<p>You are also shown your old entries at certain time intervals, like a week, a month, and a year.</p>

<h1><a href='{{ url_for('register') }}'>start using tsundiary!</a></h1>

<p>check out <a href="/~neynt">mine</a> for an example</p>

</div>
{% endblock %}
