{% extends "base.html" %}

{% block content %}

<h1>tsundiary looks like this.</h1>
<div class='post'>
  <div class='post_date'>Today</div>
  <hr />
  <div class='post_body'>
    <p>
    <textarea id="edit_area" placeholder="... hi! How are you today?"></textarea>
    </p>
  </div>
  <hr />
  <div class='status_area'>
    <span id='char_count'>&nbsp;</span>
    <span id='save_status' style='float:right'><a href='/markdown'>M&darr; enabled</a></span>
  </div>
</div>

<div class='post'>
  <div class='post_date'>
    yesterday
  </div>
  <hr />
  <div class='post_body'>
    <p>Packed my bags. I hope I'm not forgetting anything.</p>
  </div>
</div>
<div class='post'>
  <div class='post_date'>
    one week ago
  </div>
  <hr />
  <div class='post_body'>
    <p>I got a job in Japan! Can't wait to move there~</p>
  </div>
</div>
<div class='post'>
  <div class='post_date'>
    30 days ago
  </div>
  <hr />
  <div class='post_body'>
    <p>Applied for a bunch of jobs.</p>
  </div>
</div>
<div class='post'>
  <div class='post_date'>
    90 days ago
  </div>
  <hr />
  <div class='post_body'>
    <p>Finally finished Rin's route on <a href='http://www.katawa-shoujo.com/'>Katawa Shoujo</a>. ;_; The feels...</p>
  </div>
</div>
<div class='post'>
  <div class='post_date'>
    365 days ago
  </div>
  <hr />
  <div class='post_body'>
    <p>Passed my driver's license test!</p>
  </div>
</div>

<h1>tsundiary is place to write.</h1>

<p>You automatically get a new entry every day at 4 AM.</p>
<p>You are also shown your old entries at certain intervals (such as 7 days, 30 days, 90 days, and 365 days).</p>
<p>That's it.</p>

<h1>good things have been said about tsundiary.</h1>

<p>"Tsundiary brought out the inner weeb inside me! Domo arigato! Tsundiary no koto ga suki!"</p>
<p>"I met a really amazing cute friend by reading their Tsundiary! Without Tsundiary, I might have never been able to meet this awesome person, or understand them as well!"</p>
<p>"It's a most trustworthy website."</p>

<h1>tsundiary was made by a human, just like you.</h1>

<p>This particular human can be contacted at <span id='muh_mail'></span> if you wanna, like, talk about the site. Or anything. Or you could check out his <a href='http://neynt.ca/'>personal site</a>, that's cool too.</p>

<script type="text/javascript">
$('#muh_mail').html("wvz.munat@hjngreybb.pn".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>

<script>

var content = "ATASHI WA ... KIMI GA SUKI NO DE ..."
var timer = null;

var BYTE_LIMIT = 10000; 

function prime_update() {
    $('#save_status').html('writing...')
    timer = setTimeout(function() {
        $('#save_status').html('please log in to save');
    }, 500);
}

function update_char_count() {
    count = unescape(encodeURIComponent($('#edit_area').val())).length;
    if (count > 0) {
        $('#char_count').html((count));
    } else {
        $('#char_count').html('&nbsp;');
    }

    // Scale textarea
    var textarea = $('#edit_area');
    textarea.css("height", "5em");
    textarea.css("height", Math.max(textarea[0].scrollHeight, 80) + "px");

    return count;
}

function content_changed() {
    var count = update_char_count();
    clearTimeout(timer);

    if (count <= BYTE_LIMIT) {
        // Just right.
        prime_update();
    }
    else {
        // Too long.
        $('#char_count').addClass('error');
        $('#save_status').html('too long');
    }
};

$('#edit_area').bind('input propertychange', content_changed);
$( document ).load(update_char_count());

</script>

{% endblock %}

