{% extends "base.html" %}

{% block content %}

<div class='post'>
    <div class='post_date'>today</div>
    <hr />
    <div class='post_body'>
      <p>
      <textarea id='edit_area' placeholder="{{ prompt }}" >{{ current_content }}</textarea>
      </p>
    </div>
    <div class='status_area'>
        <span id='char_count'>&nbsp;</span>
        <span id='save_status' style='float:right'><a href='/markdown'>M&darr; enabled</a></span>
    </div>
</div>

{% if old_posts %}
    {% for delta_name, p in old_posts %}
    <div class='post'>
    <div class='post_date'>
      <span title='{{ p.posted_date | prettydate }}'>{{ delta_name }}</span>
    </div>
    <hr />
    <div class='post_body'>{{ p.content | my_markdown | safe }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Once you have a history of old entries, I'll show them to you at certain intervals here...</p>
{% endif %}

<script>
var timer = null;
var textarea = $('#edit_area');
var old_content = textarea.val();
var cur_date = "{{ g.date.strftime('%Y%m%d') }}";
var last_timestamp = {{ update_time }};
var writing = false;

var CHAR_LIMIT = 10000;

function confess() {
    $('#save_status').html('saving...');
    content = textarea.val();
    $.post('/confess', { content: content, cur_date: cur_date },
        function (data) {
            d = JSON.parse(data);
            $('#save_status').html(d['message']);
            last_timestamp = d['timestamp'];
            console.log('last timestamp updated to ', last_timestamp);
            writing = false;
        }
    );
}

function prime_update() {
    $('#save_status').html('writing...')
    writing = true;
    timer = setTimeout(function() {
        $('#save_status').html('saving...')
        confess();
    }, 500);
}

function update_char_count() {
    var count = unescape(encodeURIComponent(textarea.val())).length;
    $('#char_count').html(count + '/' + CHAR_LIMIT);

    // Scale textarea
    var orig_scroll = $(document).scrollTop();
    textarea.css("height", "5em");
    textarea.css("height", textarea[0].scrollHeight + "px");
    $(document).scrollTop(orig_scroll);

    return count;
}

function content_changed() {
    var count = update_char_count();
    update_char_count();
    clearTimeout(timer);

    if (count <= CHAR_LIMIT) {
        //$('#char_count').removeClass('error');
        old_content = textarea.val();
    }
    else {
        //$('#char_count').addClass('error');
        //$('#save_status').html('too long');
        textarea.val(old_content);
        update_char_count();
    }
    prime_update();
}

function get_updates() {
    $.getJSON('/api/my_current_entry', function(data) {
        if (!writing) {
            var mydate = new Date(data['timestamp']*1000);
            var myts = mydate.getTime()/1000;
            if (myts > last_timestamp + 0.5) {
                $('#edit_area').val(data['content']);
                $('#save_status').html('synced!');
                last_timestamp = myts;
                update_char_count();
            }
        }
    });
}

update_char_count(); // all I want is for my sound to multiply
window.onload = function () {
    update_char_count();
    textarea.bind('input propertychange', content_changed);
    setInterval(get_updates, 1000);
};

</script>

{% endblock %}
