/* Base */
body { background: #FFEFE8; }

/* Nav bar links */
div#nav a:hover, div#nav a.cur_page { color: #FFEFE8; background-color: #FF4800; }

/* Content links */
a { color: #FF4800; }
a:hover, a.selected_date { color: #FFEFE8; background-color: #FF4800; }
