/* Base */
body {
  color: #111111;
  background: transparent;
  background-size: auto 80%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #000000;
}
#content {
  background-color: rgba(0, 0, 0, 0);
}
/* Content links */
a {
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #000000;
}
.post a:hover,
.cloud a:hover {
  color: #000000;
}
/* Quotes */
blockquote,
pre {
  border-color: #000000;
}
/* will be overridden by color-generated css */
