/* Base */
body {
  color: #CFB6BB;
  background: url('/static/img/kyoko-armpits.jpg') no-repeat bottom right, linear-gradient(to right, #943A4C, #943A4C);
  background-size: auto 80%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #B67985;
}
#content {
  background-color: rgba(148, 58, 76, 0.85);
}
/* Content links */
a {
  color: rgba(182, 121, 133, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #B67985;
}
.post a:hover,
.cloud a:hover {
  color: #B67985;
}
/* Quotes */
blockquote,
pre {
  border-color: #B67985;
}
div#nav a:hover,
div#nav a.cur_page {
  background-color: transparent;
}
a:hover,
a.selected_date {
  background-color: transparent;
}
