/* Base */
body, div#nav a { color: #111; background-color: #eee; }

/* Nav bar links */
div#nav a:hover, div#nav a.cur_page { color: #eee; background-color: #111; }

/* Content links */
a { color: #02b; }
a:hover, a.selected_date { background-color: #02b; color: #eee; }
