/* Base */
body {
  color: #111;
  background: #eee;
  background-size: auto 80%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #fff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #333;
}
#content {
  background-color: rgba(238, 238, 238, 0.85);
}
/* Content links */
a {
  color: rgba(51, 51, 51, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #333;
}
.post a:hover,
.cloud a:hover {
  color: #333;
}
/* Quotes */
blockquote,
pre {
  border-color: #333;
}
