/* Base */
body {
  color: #33302E;
  background: url('/static/img/misato-tachibana.jpg') no-repeat bottom right, linear-gradient(to right, #F5EACA, #F5EACA);
  background-size: auto 60%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #C1494B;
}
#content {
  background-color: rgba(245, 234, 202, 0.85);
}
/* Content links */
a {
  color: rgba(193, 73, 75, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #C1494B;
}
.post a:hover,
.cloud a:hover {
  color: #C1494B;
}
/* Quotes */
blockquote,
pre {
  border-color: #C1494B;
}
