/* Base */
body { color: #33302E; background: url('/static/img/misato-tachibana.jpg') no-repeat bottom right fixed, linear-gradient(to right, #F5EACA, #F5EACA); background-size: auto 40%; background-color: #F5EACA; }

#instantclick-bar { background: #C1494B; }

/* Nav bar links */
div#nav a:hover, div#nav a.cur_page { color: #F5EACA; background-color: #C1494B; }

/* Content links */
a { color: #C1494B; }
a:hover, a.selected_date { color: #F5EACA; background-color: #C1494B; }

/* Posts */
hr { border-top: 0.1em dashed #E79295; }
