/* Base */
body {
  color: #33302e;
  background: url('/static/img/misato-tachibana.jpg') no-repeat bottom right, linear-gradient(to right, #f5eaca, #f5eaca);
  background-attachment: fixed;
  background-size: auto 40%;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #ffffff;
  background-color: #c1494b;
}
#content {
  background-color: rgba(245, 234, 202, 0.85);
}
/* Content links */
a {
  color: #c1494b;
  outline: none;
}
a:hover,
a.selected_date {
  color: #ffffff;
  background-color: #c1494b;
}
.post a:hover,
.cloud a:hover {
  color: #f5eaca;
}
