/* Base */
body {
  color: #2e3033;
  background: url('/static/img/rei-ayanami.jpg') no-repeat bottom right, linear-gradient(to right, #e6f3ff, #e6f3ff);
  background-size: auto 80%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #e7282d;
}
#content {
  background-color: rgba(230, 243, 255, 0.85);
}
/* Content links */
a {
  color: rgba(231, 40, 45, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #e7282d;
}
.post a:hover,
.cloud a:hover {
  color: #e7282d;
}
/* Quotes */
blockquote,
pre {
  border-color: #e7282d;
}
