/* Base */
body {
  color: #33302E;
  background: url('/static/img/saya.jpg') no-repeat bottom right, linear-gradient(to right, #E0EFE8, #E0EFE8);
  background-size: auto 90%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #4A9572;
}
#content {
  background-color: rgba(224, 239, 232, 0.85);
}
/* Content links */
a {
  color: rgba(74, 149, 114, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #4A9572;
}
.post a:hover,
.cloud a:hover {
  color: #4A9572;
}
/* Quotes */
blockquote,
pre {
  border-color: #4A9572;
}
