/* Base */
body {
  color: #380517;
  background: url('/static/img/yuno.jpg') no-repeat bottom right, linear-gradient(to right, #FCE3E4, #FCE3E4);
  background-size: auto 100%;
  background-attachment: fixed;
}
.cloud,
.post,
input,
select {
  background-color: #ffffff;
}
/* Nav bar links */
div#nav a:hover,
div#nav a.cur_page {
  color: #E74F79;
}
#content {
  background-color: rgba(252, 227, 228, 0.85);
}
/* Content links */
a {
  color: rgba(231, 79, 121, 0.5);
  outline: none;
}
a:hover,
a.selected_date {
  color: #E74F79;
}
.post a:hover,
.cloud a:hover {
  color: #E74F79;
}
/* Quotes */
blockquote,
pre {
  border-color: #E74F79;
}
/* and a little extra */
.about::after {
  content: 'yandiary';
}
.about span {
  display: none;
}
