/* Normalize */

*
{
  margin: 0;
  padding: 0;
}
/* Keep vertical scrollbar visible to prevent centering jumps */
html
{
  height: 100%;
  overflow-y: scroll;
}

body
{
  height: 100%;
  text-rendering: optimizeLegibility;
}

/* Colors */
body {
  background-color: #eee;
  color: #777;
}
.cloud, .post
{
  color: #000;
  background-color: #fff;
  border-color: #b3b3b3;
}
p
{
  padding: 5px 0;
}
a
{
  color: #555;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
.faded
{
  opacity: 0.4;
}
textarea
{
  color: #000;
  resize: none;
  outline: none;
  overflow-y: hidden;
}

.status_area
{
  margin: 0 10px 10px;
}

div#top
{
  text-align: left;
  background-color: #d2d2d2;
  border-bottom: 2px solid #b3b3b3;
  margin-bottom: 30px;
  padding-top: 10px;
}

#logo
{
  display: inline-block;
  margin: 10px 10px -30px;
}

div#nav
{
  display: block;
  max-width: 500px;
  margin: 0 auto -2px;
  background-color: #d2d2d2;
  padding: 10px;
  border-bottom: 2px solid #b3b3b3;
}
div#nav a, div#nav input[type=submit]
{
  background-color: #eeeeee;
  color: #777;
  padding: 8px 10px 10px;
  border: 2px solid #b3b3b3;
  border-radius: 5px 5px 0 0;
}
div#nav a.cur_page
{
  text-decoration: none;
  border-bottom: 2px solid #eeeeee;
}

/* Fonts */
div#wrap,
input,
textarea
{
  font-size: 12pt;
  font-family: Dosis;
}

input
{
  font-size: 14pt;
}

h1
{
  padding: 10px 0;
  font-size: 24pt;
  font-weight: normal;
  text-align: center;
}
h2
{
  font-size: 17pt;
  font-weight: normal;
}

/* Wrapper for main content */
div#wrap
{
  position: relative;
  min-height: 100%;
}

/* "cloud" container */
.cloud, .post
{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0;
  margin: 5px auto;
}

/* Post editing components */
#edit_area
{
  border: 0;
  border-top: 1px solid #c2c2c2;
  padding: 10px;
  background-color: #fff;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  cursor: text;
}

/* Contains an entire post. */
.post
{
  clear: both;
}

/* Post decoration */
.post_date
{
  display: block;
  margin-top: 10px;
  padding: 0 0 10px;
  font-size: 16px;
  text-align: center;
}

/* Post body */
.post_body
{
  padding: 5px 10px;
  word-wrap: break-word;
  border-top: 1px solid #c2c2c2;
}

/* */
img
{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* post body crap */
ul
{
  margin: 5px 0;
  list-style-type: square;
}
li
{
  margin: 5px 0;
  margin-left: 20px;
}

/* Get rid of focus outlines */
input,
div#edit_area:focus
{
  outline: none;
}

input
{
  background-color: #fff;
}

/* Login box */
#login_box
{
  width: 50%;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  padding: 0;
  margin: 10px auto;
  border-radius: 5px;
}

#login_box input[type="text"],
#login_box input[type="email"],
#login_box input[type="password"]
{
  width: 90%;
  border: 0;
}

/* Submit button of login box */
#submitbutton
{
  width: 90%;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
}

.login_box_active
{
  background: #fff;
  border-color: #000;
}

/* First item in a form. */
.first
{
  padding-top: 10px;
}
/* Last item in a form. */
.last
{
  padding-bottom: 10px;
  margin-bottom: 1px;
}

/* The horizontal line */
hr
{
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #b3b3b3;
}
/* ... in login boxes */
div#login_box hr
{
  margin: 0 0;
}

/* Content div */
div#content
{
  min-width: 150px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px 100px;
}

/* Footer div */
div#foot
{
  background-color: #d2d2d2;
  color: #777;
  border-top: 2px solid #b3b3b3;
  position: absolute;
  padding: 20px 0px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
