<!doctype html>
<html>
<head>
    <title>{% block title %}tsundiary{% endblock %}</title>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />

    <script src='/static/jquery.min.js' type='text/javascript'></script>
    <!-- Include the excellent Dosis font. -->
    <link href='//fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>
    <link href='/static/style.css' rel='stylesheet' />
    {% if g.theme %}
    <link href='/static/themes/{{g.theme}}.css' rel='stylesheet' />
    {% endif %}
    <link href='/favicon.ico' rel='icon' type='image/x-icon' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Set timezone in a cookie. -->
    <script type='text/javascript'>
        document.cookie = 'timezone=' + new Date().getTimezoneOffset();
    </script>
</head>
<body>
<div id="wrap">
<div id="top">
    <div id='nav'>
    {% if login_user %}
        {% for target, text, title in [
            ('/', "<i class='fa fa-pencil'></i>", "Write"),
            ('/~' + login_user.sid, "<i class='fa fa-bars'></i>", "Archive"),
            ('/settings', "<i class='fa fa-cog'></i>", "Options"),
        ]%}
            {% if request.path == target or request.path.startswith(target + '/') %}
            <a href='{{target}}' class='cur_page' title='{{title}}'>{{text | safe}}</a>
            {% else %}
            <a href='{{target}}' title='{{title}}'>{{text | safe}}</a>
            {% endif %}
        {% endfor %}
        <a href='/logout?user={{ login_user.sid }}' class='action_link', title='Log out'><i class='fa fa-sign-out'></i></a>

        <div style='float: right'>
            hi, {{ login_user.name }}!
            <!-- overly complicated logout form to prevent XSS
            <form action='/' method='POST' style='display: inline-block; margin: 0 0 0 5px'>
                <input type='submit' name='action' value='logout' style='text-decoration: underline; background: 0; border: 0; padding: 0 5px; font-size: 12pt; cursor: pointer;' ></input>
            </form> -->
        </div>
    {% else %}
        {% for target, text in [
            ('/', "login"),
            ('/h-hello...', "what is this?"),
            ('/register', "register")
        ]%}
            {% if request.path == target %}
            <a href='{{target}}' class='cur_page'>{{text | safe}}</a>
            {% else %}
            <a href='{{target}}'>{{text | safe}}</a>
            {% endif %}
        {% endfor %}

        <div style='float: right'>tsundiary desu.</div>
    {% endif %}
    </div>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="foot">
    <i class='fa fa-heart'></i>
</div>
</div>
</body>
</html>
