{% extends "base.html" %}

{% block content %}

<p>{{ prompt }}</p>

<div class='cloud'>
    <span class='post_date'>Today</span>
    <br />
    <textarea id='edit_area'>{% if current_content %}{{ current_content }}{% endif %}</textarea>
    <br />
    <span id='char_count'>You are.</span>
    <span id='save_status' style='float:right'></span>
</div>

{% if old_entries %}
    <p>Here are some of your old entries.</p>

    {% for day, content in old_entries %}
    <div class='cloud'>
        <span class='post_date'>{{ day }}</span>
        <br />
        <div class='post_body'>{{ content }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Once you have a history of old entries, I'll show them to you at special intervals...</p>
{% endif %}

<script>

var content = "ATASHI WA ... KIMI GA SUKI NO DE ..."
var timer = null;

// Don't bother trying to hack this
var DECABYTE_LIMIT = 50; 

function confess() {
    $('#save_status').html('saving...');
    written = $('#edit_area').val();
    $.post('/confess', { content: written },
        function (data) {
            $('#save_status').html(data);
        }
    );
};

function prime_update() {
    $('#save_status').html('writing...')
    timer = setTimeout(function() {
        $('#save_status').html('saving...')
        confess();
    }, 500);
}

function update_char_count() {
    count = unescape(encodeURIComponent($('#edit_area').val())).length;
    count = Math.ceil(count / 10);
    $('#char_count').html(count + '/' + DECABYTE_LIMIT + ' UTF-8 decabytes');
    return count;
}

function content_changed() {
    count = update_char_count();
    clearTimeout(timer);

    if (count <= DECABYTE_LIMIT) {
        // Just right.
        prime_update();
    }
    else {
        // Too long.
        $('#char_count').addClass('error');
        $('#save_status').html('too long');
    }
};

$('#edit_area').bind('input propertychange', content_changed);
update_char_count();

</script>

{% endblock %}
