{% extends "base.html" %}

{% block content %}

<div style="text-align: center">
<p id='login_status'>... who are you?</p>
<div id='login_box' class='cloud' style='width:50%; min-width: 200px'>
    <input id='username' type='text' placeholder="username" /><br />
    <input id='password' type='password' placeholder="password" /><br />
</div>
<input id='submitbutton' type='submit' value="enter" />
</div>

<script>

var wait_messages = ['Wait one sec...', "I'll just make sure...", 'Stay right there...', 'Chotto matte...'];

function attempt_login() {
    var username = $('#username').val();
    var password = $('#password').val();

    $('#submitbutton').addClass('active');
    $.post('attempt_login', { username: username, password: password },
        function(data) {
            $('#login_status').html(data);
            if (data.substr(0, 18) == 'Oh... welcome back') {
                setTimeout(function() { document.location.reload(true); }, 500);
            }
            else {
                $('#submitbutton').removeClass('active');
            }
        });

    var rand = Math.floor(Math.random()*wait_messages.length);
    $('#login_status').html(wait_messages[rand]);
}

function check_key(e) {
    if (e.keyCode == 13) {
        attempt_login();
    }
}

$('#username').keyup(check_key);
$('#password').keyup(check_key);
$('#submitbutton').click(attempt_login);

</script>

{% endblock %}

