{% extends "base.html" %}

{% block content %}

<p>You can use Markdown to format your entries in tsundiary.</p>

<style>
table
{
    margin: 5px 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid #999;
    border-radius: 5px;
    width: 100%;
}
td, th
{
    border-top: 1px solid #999;
    padding: 10px;
}
th
{
    font-weight: normal;
    text-align: left;
    background: transparent;
    border: 0;
}
td
{
    background: #fff;
}
code
{
}
</style>

<div style='cloud'>
<table>
    <tr>
        <th>Markdown code</th><th>Result</th>
    </tr>
    <tr>
        <td><code>_desu_</code></td>
        <td><em>desu</em></td>
    </tr>
    <tr>
        <td><code>**desu**</code></td>
        <td><strong>desu</strong></td>
    </tr>
    <tr>
        <td><code># desu</code></td>
        <td><h1>desu</h1></td>
    </tr>
    <tr>
        <td><code>## desu</code></td>
        <td><h2>desu</h2></td>
    </tr>
    <tr>
        <td><code>###### desu</code></td>
        <td><h6>desu</h6></td>
    </tr>
    <tr>
        <td><code>[desu](http://tsundiary.com/)</code></td>
        <td><a href='http://tsundiary.com/'>desu</a></td>
    </tr>
    <tr>
        <td><code>- desu<br>- nya<br>- neko</code></td>
        <td><ul><li>desu</li><li>nya</li><li>neko</li></ul></td>
    </tr>
    <tr>
        <td><code>1. desu<br>2. nya<br>3. neko</code></td>
        <td><ol><li>desu</li><li>nya</li><li>neko</li></ol></td>
    </tr>
    <tr>
        <td><code>![](http://i.imgur.com/86cRuDz.png)</code></td>
        <td><img src='http://i.imgur.com/86cRuDz.png' title="nya"></td>
    </tr>
    <!--
    <tr>
        <td></td>
        <td><code></code></td>
        <td></td>
    </tr>
    -->
</table>
</div>

And many more...

{% endblock %}

