{% extends "base.html" %}

{% block content %}

<div style="text-align: center; margin: 0 auto;">
    <p id='login_status'>... so who do you want to be?</p>
    <div id='login_box' class='cloud'>
        <input id='invite_key' class='first last' type='text' placeholder="invite key" /><br />
        <hr />
        <input id='username' class='first' type='text' placeholder="username" /><br />
        <input id='password' type='password' placeholder="password" /><br />
        <input id='email' class='last' type='email' placeholder="email (optional)" /><br />
        <hr />
        <input id='submitbutton' class='first last' type='submit' value='register' />
    </div>
</div>

<script>

function attempt_register() {
    var invite_key = $('#invite_key').val();
    var username = $('#username').val();
    var password = $('#password').val();
    var email = $('#email').val()

    $('#submitbutton').addClass('active');
    $.post('register', { invite_key:invite_key, username:username, password:password, email:email },
        function(data) {
            $('#login_status').html(data);
            if (data.substr(0, 7) == 'welcome') {
                setTimeout(function() { document.location.href = '/'; }, 1000);
            }
            else {
                $('#submitbutton').removeClass('active');
            }
        });

    var rand = Math.floor(Math.random()*wait_messages.length);
    $('#login_status').html(wait_messages[rand]);
}

function check_key(e) {
    if (e.keyCode == 13) {
        attempt_register();
    }
}

$('#login_box').keyup(check_key);
$('#submitbutton').click(attempt_register);

</script>

{% endblock %}

