{% extends "base.html" %}

{% block content %}

<h1>{{ author.name }} の tsundiary</h1>
<p>
{% if login_name and author.name == login_name %}Your
{% else %}{{ author.name }}'s
{% endif %}
tsundiary has {{ author.num_entries }} entries{% if author.combo > 1 %}, including one every day for the past {{ author.combo }} days{% endif %}.
</p>

{% for year, months in dates.items() %}
<h2>{{ year }}: 
{% for month in months %}
{% set target = '/~%s/%d/%d' % (author.sid, year, month) %}
{% if request.path == target %}
<a class='selected_date' href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% else %}
<a href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% endif %}
{% endfor %}
</h2>
{% endfor %}

{% block header %}
<p>Most recent posts:</p>
{% endblock %}

{% block posts %}
 
{% for p in posts %}
{{ render_entry(p, hidden_day) | safe }}
{% endfor %}

{% endblock %}

{% endblock %}
