{% extends "base.html" %}

{% block content %}

<h1>{{ author.name }}</h1>

<span class='stat'>
<i class="fa fa-edit" title='Number of entries'></i> {{ author.num_entries }} days of entries
</span><br />
<span class='stat'>
<i class="fa fa-star" title='Combo'></i> {{ author.combo }} days combo
</span>
<h1>Archive</h1>
{% for year, months in dates.items() %}
<h2>{{ year }}: 
{% for month in months %}
{% set target = '/~%s/%d/%d' % (author.sid, year, month) %}
{% if request.path == target %}
<a class='selected_date' href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% else %}
<a href='{{ target | safe }}'>{{ month_name[month][:3] }}</a>
{% endif %}
{% endfor %}
</h2>
{% endfor %}

{% block header %}
{% if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Most recent posts</h1>
{% endif %}
{% endblock %}

{% block posts %}
{% for p in posts %}
{{ render_entry(p, hidden_day) | safe }}
{% endfor %}
{% endblock %}

{% endblock %}
