{% extends "base.html" %}

{% block content %}

<p>
{% if login_name and author.name == login_name %}Your
{% else %}{{ author.name }}'s
{% endif %}
tsundiary has {{ author.num_entries }} entries{% if author.combo > 1 %}, including one every day for the past {{ author.combo }} days{% endif %}.
</p>

<p><a href='/diary/{{ author.sid }}/all'>View them all</a></p>

{% for p in posts %}
<div class='post'>
{% if p.posted_date > hidden_day %}
<div class='post_date faded'>
    {{ p.posted_date | prettydate }} - hidden
</div>
</div>
{% else %}
<div class='post_date faded'>
    {{ p.posted_date | prettydate }}
</div>
<div class='post_body'>{{ p.content | markdown | safe }}</div>
</div>
{% endif %}
{% endfor %}

{% endblock %}
