{% extends "base.html" %}

{% block content %}

<p><b>tsundiary</b> is a place to write.</p>
<!--
<p>We constantly write for others. We write essays for our teachers, we write reports for our managers, we write Facebook posts for likes, we write blog posts for page hits, we write Reddit comments for upvotes &mdash; and we don't really believe a word of it. When we choose our words, we don't ask ourselves what we think &mdash; we ask ourselves what we would like other people to think that we're thinking. We are constantly selling our personal integrity for grades, wealth, social advancement, and recognition sourced not from within but from other people.</p>
<p>tsundiary is a place to write for yourself. Every day at midnight, you get a fresh page. Every day, you write. That's it. There are no comments, no grading, no friendships, no followers, no likes, no upvotes, no feedback from other human beings in any form unless they approach you directly. Entries aren't even public until they are a week old. It's the ultimate tribute not to dress codes or Shakespeare or last night's party or militant atheism or the latest web standards but to the most important person in your life: you.</p>
<p>And the kawaii messages of encouragement are nice too.</p>
-->
<p>You get a page every day. Old pages are shown to you at certain fixed intervals.</p>
<p>That's it.</p>
<p style='text-align: right'><i><a href="http://neynt.tk/">made</a> with love in Waterloo, Canada</i></p>

{% endblock %}

