{% extends "base.html" %}

{% block content %}

<div class='cloud'>
    <div class='post_date faded'>Today</div>
    <textarea id='edit_area' placeholder="{{ prompt }}" >{% if current_content %}{{ current_content }}{% endif %}</textarea>
    <div class='faded'>
    <br />
        <span id='char_count'></span>
        <span id='save_status' style='float:right'></span>
    </div>
</div>

{% if old_posts %}
    {% for delta_name, p in old_posts %}
    <div class='cloud'>
        <div class='post_date faded'>{{ p.posted_date | prettydate }} ({{ delta_name }})</div>
        <div class='post_body'>{{ p.content }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Once you have a history of old entries, I'll show them to you at certain intervals here...</p>
{% endif %}

<script>

var content = "ATASHI WA ... KIMI GA SUKI NO DE ..."
var timer = null;

// Don't bother trying to hack this, it's checked server-side too~ ;)
var BYTE_LIMIT = 1000; 

function confess() {
    $('#save_status').html('saving...');
    written = $('#edit_area').val();
    $.post('/confess', { content: written },
        function (data) {
            $('#save_status').html(data);
        }
    );
};

function prime_update() {
    $('#save_status').html('writing...')
    timer = setTimeout(function() {
        $('#save_status').html('saving...')
        confess();
    }, 500);
}

function update_char_count() {
    count = unescape(encodeURIComponent($('#edit_area').val())).length;
    $('#char_count').html((BYTE_LIMIT - count));

    // Scale textarea
    var textarea = $('#edit_area');
    textarea.css("height", "");
    textarea.css("height", Math.max(textarea[0].scrollHeight, 100) + "px");

    return count;
}

function content_changed() {
    var count = update_char_count();
    clearTimeout(timer);

    if (count <= BYTE_LIMIT) {
        // Just right.
        prime_update();
    }
    else {
        // Too long.
        $('#char_count').addClass('error');
        $('#save_status').html('too long');
    }
};

$('#edit_area').bind('input propertychange', content_changed);
$( document ).ready(update_char_count);

</script>

{% endblock %}
