/* Base */
body { color: #33302E; background-color: #FFEFE8; }

/* Links */
a { color: #FF4800; }

/* Top and bottom backgrounds */
div#top, div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #FF4800; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #FF4800; }

/* Posts */
.cloud, .post { border-width: 1px; border-color: rgba(64, 64, 64, 0.5); }

/* Footer */
div#foot { border: 0; color: #FF4800; }
