/* Base */
body { color: #111; background-color: #eee; }

/* Links */
a { color: #02b; }

/* Top and bottom backgrounds */
div#top, div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #000; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #000; }

/* Posts */
.cloud, .post { border-width: 0.1em; border-color: rgba(64, 64, 64, 0.5); }

/* Footer */
div#foot { border: 0; color: #000; }
