body
{
  color: #33302E;
  background-color: #F5EACA;
}

div#top
{
  background-color: #DB9B8F;
  border-color: #F5EACA;
}

div#nav a
{
  color: #FAE9CD;
  background: transparent;
  border-color: transparent;
}
div#nav a.cur_page
{
  border-bottom-color: #DB9B8F;
}

.cloud, .post
{
  border-width: 1px;
  border-color: rgba(32, 32, 32, 0.5);
}

.post_date
{
  border-bottom: 1px dashed #E79295;
}

div#foot
{
  border-top: 16px dashed #E1A49F;
  background-color: #DA7072;
  color: #FAE9CD;
}
