/* Base */
body { color: #2E3033; background-color: #E6F3FF; }

/* Links */
a { color: #EF820E; }

/* Top and bottom backgrounds */
div#top, div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #EF820E; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #EF820E; }

/* Posts */
.cloud, .post { border-width: 1px; border-color: rgba(64, 64, 64, 0.0); }
.cloud hr, .post hr { border-color: rgba(64, 64, 64, 0.0); }

/* Footer */
div#foot { border: 0; color: #EF820E; }
