/* Base */
body { color: #2E3033; background-color: #E6F3FF; }

/* Links */
a { color: #FF8300; }

/* Top and bottom backgrounds */
div#top, div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #FF8300; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #FF8300; }

/* Posts */
.cloud, .post, select { border-width: 0.1em; border-style: solid; border-color: rgba(255, 131, 0, 1.0); }
.cloud hr, .post hr { border-color: transparent; }

/* Footer */
div#foot { border: 0; color: #FF8300; }
