/* Base */
body { color: #33302E; background-color: #E0EFE8; }

/* Links */
a { color: #4A9572; }

/* Top and bottom backgrounds */
div#top, div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #4A9572; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #4A9572; }

/* Posts */
.cloud, .post, select { border-width: 1px; border-color: #DD4D66; }

/* Footer */
div#foot { border: 0; color: #4A9572; }
