/* Base */
body { color: #380517; background: url('/static/img/yuno.png') no-repeat bottom right fixed, linear-gradient(to right, #FCE3E4, #FCE3E4); background-size: auto 100%; }

/* Links */
a { color: #E74F79; }

/* Top and bottom backgrounds */
div#top { background-color: transparent; }
div#foot { background-color: transparent; }

/* Nav separator border */
div#top { border-color: transparent; }

/* Nav links */
div#nav a { color: #E74F79; background: transparent; border-color: transparent; }
div#nav a.cur_page { border-bottom-color: #E74F79; }

/* Posts */
.cloud, .post, select { border-width: 0.1em; border-color: #E74F79; }

/* Footer */
div#foot { border: 0; color: #E74F79; }

/* and a little extra */
.about::before { content: 'yandiary 0v0' }
.about span { display: none; }
